$font-1: "Fredoka Regular", sans-serif;
$font-2: "Fredoka Bold", sans-serif;

$primary: #2541b2;
$primary-80: #5167c1;
$primary-60: #7c8dd1;
$primary-40: #a8b3e0;
$primary-20: #d3d9f0;

$primary-alt: #1768ac;
$primary-alt-80: #4586bd;
$primary-alt-60: #74a4cd;
$primary-alt-40: #a2c3de;
$primary-alt-20: #d1e1ee;

$secondary: #5299d3;
$secondary-80: #75addc;
$secondary-60: #97c2e5;
$secondary-40: #bad6ed;
$secondary-20: #dcebf6;

$tertiary: #222222;
$tertiary-80: #4e4e4e;
$tertiary-60: #7a7a7a;
$tertiary-40: #a7a7a7;
$tertiary-20: #d3d3d3;

$neutral-dark: #52515c;

$neutral-mid: #979fa3;

$neutral-light: #f7f7f7;

$neutral-white: #ffffff;
