@import "../partial/variables";
@import "../partial/common-mixins";
@import "../partial/variables";

%ap-btn {
  user-select: none;
  outline: 0;

  &::-moz-focus-inner {
    border: 0;
  }

  font-family: $font-1;
  font-weight: normal;
  font-style: normal;
  @include font-size(1);

  $t: background-color, color, border-color;
  transition: 150ms ease-in-out 100ms background-color,
    150ms ease-in-out 100ms color, 150ms ease-in-out 100ms border-color !important;

  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  cursor: pointer;
  outline: none;
  -webkit-appearance: none;

  padding: 0 30px;
  height: 50px;
  line-height: 50px;
  border: 1px solid transparent;
  border-radius: 25px;

  &:focus {
    outline: none;
  }
}

%ap-btn-medium {
  @extend %ap-btn;
  height: 36px;
  line-height: 36px;
  padding: 0 20px;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
}

%ap-btn-small {
  @extend %ap-btn;
  @include font-size(0.8125);
  height: 26px;
  line-height: 25px;
  padding: 0 15px;
}

%ap-btn-primary {
  color: $neutral-white;
  background-color: $primary;
  border-color: $primary;

  @include hover-and-active {
    color: $neutral-white;
    background-color: $primary-alt;
    border-color: $primary-alt;
  }
  &:disabled {
    cursor: not-allowed;
    color: #b0b0b0 !important;
    background-color: #e4e4e4 !important;
    border-color: #e4e4e4 !important;
  }
}

%ap-btn-outline {
  color: $primary;
  background-color: $neutral-white;
  border-color: $primary;

  @include hover-and-active {
    color: $neutral-white;
    background-color: $primary-alt;
    border-color: $primary-alt;
  }
  &:disabled {
    color: #d6d6d6 !important;
    background-color: $neutral-white !important;
    border-color: #d6d6d6 !important;
  }
}

.ap-btn-primary {
  @extend %ap-btn;
  @extend %ap-btn-primary;
}

.ap-btn-primary-medium {
  @extend %ap-btn-medium;
  @extend %ap-btn-primary;
}

.ap-btn-primary-small {
  position: relative;
  @extend %ap-btn-small;
  @extend %ap-btn-primary;
}

.ap-btn-outline {
  @extend %ap-btn;
  @extend %ap-btn-outline;
}

.ap-btn-reverse {
  @extend %ap-btn;
  color: $neutral-white;
  background-color: $tertiary;
  border-color: $neutral-white;

  &:hover {
    background-color: $neutral-white;
    color: $primary-alt;
  }
}

button {
  background: 0;
  border: 0;
  padding: 0;
  font-family: inherit;
  font-size: inherit;
  color: $tertiary;

  &:hover {
    cursor: pointer;
  }
}
